<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSP_Analyze.Properties.Settings.scoutingConnectionString"
            connectionString="Data Source=scoutingdb.cvwch2qajbty.us-east-2.rds.amazonaws.com;Initial Catalog=scouting;Persist Security Info=True;User ID=reader;Password=readerreader123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>